h1 {
  margin: 50px auto 0px auto;
  font-family: 'Staatliches', cursive;
  font-size: 5rem;
  color: #66BFBF;
}
h2 {
  font-size: 2.1rem;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
}
a{
  color: #11999E;
  font-family: "Roboto", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
hr{
  color: #EAF6F6;
  border-top-style: dotted;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-width: 10px;
  width: 5%;
  margin: 100px auto;
}
p{
  line-height: 2;
}
body {
  margin: 0px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #40514E;
  /*font-family: 'Lemonada', cursive;
  font-family: 'Merriweather Sans', sans-serif;*/
}
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  position: relative;
  margin: 100px 0;
}
.bottom-container {
  background-color: #66BFBF;
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.icon-attribution {
  font-family: "Roboto", sans-serif;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.agile-img{
  float: left;
  margin-right: 30px;
}
.data-img{
  float: right;
  margin-left: 30px;
}
.footer-link{
  color: #11999E;
}
.copywrite-text{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.contact-button {
  border-radius: 10px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 10px;
  background-color: #11999E;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  }
  .contact-button:hover {
  background: #66BFBF;
  border-radius: 10px;
  text-decoration: none;
  }
  .intro {
    width: 30%;
    margin: auto;
  }
  .contact-message {
    width: 40%;
    margin: 40px auto 60px;    
  }